<h1> All Countries <h1>

<p style="color: black;"> If country not listed, click <%= link_to "here", new_country_url %> to add. </p>


<% @countries.each do |c| %>
    <p style="color: #352315;"><b><%=c.name %></b></p>
<% end %>

