// Place all the styles related to the Reviews controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.white-box {
    
  background: hsla(0, 100%, 90%, 0.3);
    padding: 15px;
    border-radius: 3px;
  }
