<% if object.errors.any? %>

    <div id="error_explanation"> 
        <h4 style="color: #CD5C5C;"><%= pluralize(object.errors.count, "error") %> prohibited this from being saved: </h4>
        
        <ul>
        <% object.errors.full_messages.each do |msg| %>
            <p style="color: #CD5C5C;"><%= msg %></p>
        <% end %>
        </ul>
    </div>
<% end %>
